<div class="container-fluid my-5 bg-body-tertiary p-4">
  <div class="mx-auto" style="max-width: 1200px;">
    <h2 class="mb-4 text-center">Eat what makes you happy</h2>
    <div id="zomatoCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 justify-content-center">
            <!-- Each item adjusts based on screen size -->
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/52eb9796bb9bcf0eba64c643349e97211634401116.png"
                class="rounded-circle img-fluid"
                alt="Thali"
              />
              <p class="mt-2 fs-5">Thali</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_photos/bda/9cdab6d5f275b8d2532e3878134ddbda.jpg"
                class="rounded-circle img-fluid"
                alt="Veg Meal"
              />
              <p class="mt-2 fs-5">Veg Meal</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/bf2d0e73add1c206aeeb9fec762438111727708719.png"
                class="rounded-circle img-fluid"
                alt="Biryani"
              />
              <p class="mt-2 fs-5">Biryani</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/d0bd7c9405ac87f6aa65e31fe55800941632716575.png"
                class="rounded-circle img-fluid"
                alt="Pizza"
              />
              <p class="mt-2 fs-5">Pizza</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_images/ccb7dc2ba2b054419f805da7f05704471634886169.png"
                class="rounded-circle img-fluid"
                alt="Burger"
              />
              <p class="mt-2 fs-5">Burger</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_images/d5ab931c8c239271de45e1c159af94311634805744.png"
                class="rounded-circle img-fluid"
                alt="Cake"
              />
              <p class="mt-2 fs-5">Cake</p>
            </div>
          </div>
        </div>

        <!-- Second Slide -->
        <div class="carousel-item">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 justify-content-center">
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_images/c2f22c42f7ba90d81440a88449f4e5891634806087.png"
                class="rounded-circle img-fluid"
                alt="Rolls"
              />
              <p class="mt-2 fs-5">Rolls</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/019409fe8f838312214d9211be010ef31678798444.jpeg"
                class="rounded-circle img-fluid"
                alt="North Indian"
              />
              <p class="mt-2 fs-5">North Indian</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_images/197987b7ebcd1ee08f8c25ea4e77e20f1634731334.png"
                class="rounded-circle img-fluid"
                alt="Chicken"
              />
              <p class="mt-2 fs-5">Chicken</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/fc641efbb73b10484257f295ef0b9b981634401116.png"
                class="rounded-circle img-fluid"
                alt="Sandwich"
              />
              <p class="mt-2 fs-5">Sandwich</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/dish_images/a9481ab8dce1f7cd553fe5dd6f47f7b91637241749.png"
                class="rounded-circle img-fluid"
                alt="Sweets"
              />
              <p class="mt-2 fs-5">Sweets</p>
            </div>
            <div class="col text-center">
              <img
                src="https://b.zmtcdn.com/data/o2_assets/8dc39742916ddc369ebeb91928391b931632716660.png"
                class="rounded-circle img-fluid"
                alt="Dosa"
              />
              <p class="mt-2 fs-5">Dosa</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#zomatoCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#zomatoCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>
