<!-- Delivery Section -->
<div class="d-flex m-5 align-items-center border-bottom border-danger mx-auto" style="max-width: 1200px;">
  <!-- Circle Background -->
  <div
    class="bg-warning rounded-circle d-flex justify-content-center align-items-center"
    style="width: 70px; height: 70px;"
  >
    <img
      src="https://b.zmtcdn.com/data/o2_assets/c0bb85d3a6347b2ec070a8db694588261616149578.png?output-format=webp"
      alt="Delivery"
      class="img-fluid w-75"
    />
  </div>
  <!-- Text -->
  <div class="text-danger p-4 fs-4">Delivery</div>
</div>
